.events {
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}