body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h5 {
  font-size: 2.875rem;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(27, 116, 94);
}

button {
  width: 50%;
  padding: 20px 30px;
  border: none;
  background-color: #d8e3d5;
  cursor: pointer;
  text-transform: capitalize;
  color: #1b745e;
}